<p>ANGELITO, JAOJOCO
Flushing, NY │ Email │ Phone

EDUCATION 
¬Queensborough Community College, The City University of New York, Bayside, NY
¬Degree, Major, anticipated date
¬GPA: 
¬Relative Coursework: 
•	¬React.js and React Native Frontend Development workshops
•	AWS Solutions Architect Preparation
•	Linux OS, VirtualBox, and Cloud Security Essentials training
¬Technical Skills:
•	¬Front-End: JavaScript, React, jQuery, JSON, CSS, Bootstrap, HTML, API
•	Back-End: C++, Node.js, Express.js
•	Other: Git, GitHub, XD, Photoshop, Illustrator, Dreamweaver, InDesign, Visual Studio Code, Excel, Outlook, Basecamp
¬
ADDITIONAL EDUCATION
Add any certifications or courses taken. 
¬
PROJECTS
Add technical projects here. ¬Focus on your impact (Accomplished (X), as measured by (Y), by doing (Z).
¬You can add course or personal projects. Include technical skills gained.
¬¬
RELEVANT EXPERIENCE
Your Job Title	dates
Company Name │ location
•	¬Proposed and implemented new site content architecture and navigation scheme for company website redesign. 
•	Reduced bounce rate by 30%.
¬
Your Job Title	dates
Company Name │ location
•	¬Collaborated with developer in implementing a barcode inventory system to reduce the latency in updating the stock availability on the website and Amazon.  
•	Maintained 95% positive customer feedback.
¬
ADDITIONAL EXPERIENCE
Your Job title	dates
Company Name │location
•	¬Worked with backroom and replenishment teams in executing merchandising plan for food department.
•	Team Member Award of the Month.
¬

ACTIVITIES
Can include tech activities here (hackathons, etc…).
</p>
